.footer__container {
  max-width: 353px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer__line {
  width: 100%;
  height: 2px;
  background: #f6f6f9;
  margin-bottom: 28px;
}

.footer__text {
  font-size: 16px;
  color: $blue;
  margin-bottom: 30px;
}

.footer__socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.footer__social {
  padding: 0 8px;
}
