.faq {
  padding-bottom: 33px;

  h1 {
    margin-bottom: 80px;
  }

  b {
    font-weight: $bold;
  }

  .paragraph {
    margin-top: 34px;
  }

  .text {
    max-width: 600px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }

  .footer {
    margin-top: 80px;
  }

  .footer__container {
    margin-left: 0;
  }

  .footer__socials {
    justify-content: flex-start;
  }
}
