footer.footer
  .footer__container
    .footer__line
    .footer__text
      | Follow us on social networks
    .footer__socials
      a(href="https://medium.com/@wrisycle/introducing-wrisycle-%EF%B8%8F-3ba" target="_blank").footer__social.footer__medium
        include ../../images/svg/medium.svg
      a(href="https://www.instagram.com/wrisycle/" target="_blank").footer__social.footer__inst
        include ../../images/svg/instagram.svg
      a(href="https://twitter.com/wrisycle_").footer__social.footer__twitter
        include ../../images/svg/twitter.svg
      a(href="https://t.me/wrisycle" target="_blank").footer__social.footer__telegram
        include ../../images/svg/telegram.svg