extends ../layout/layout.pug


block content

  - var page = 'faq'

  main.main.faq
    .container
      include ../components/navigation.pug
      .content
        h1
          | FAQ
        .text 
          |  Information to follow

      