extends ../layout/layout.pug

block content
  main.main
    .content.plug-content
      h1.plug-logo
        | wrisycle
      .plug-content__conteiner
        .plug-content__text
          p.plug-content__big-text
            | We're still developing but you can still register your interest and be the first to know when we’re ready to go!
          p.plug-content__small-text
            | Drop your email and we will keep you up to date with release dates and any other information!
        form(action="#").form
          input(type="email" require placeholder="Enter your e-mail")
          button.form-button
            | SEND
      .plug-footer
        .plug-footer__container
          .plug-footer__line
          .plug-footer__text
            | Follow us on social networks
          .plug-footer__socials
            .plug-footer__social.plug-footer__inst
              include ../../images/svg/instagram.svg
            .plug-footer__twitter
              include ../../images/svg/twitter.svg
    