extends ../layout/layout.pug

block content
  main.main
    .content.plug-content
      .plug-logo
      .plug-content__container
        .plug-content__text
          p.plug-content__text
            | We’re still developing but you can still register your username 
            = ' '
            span.blue-text and be the first to know when we're ready!
        form(name="contact" method="POST" data-netlify="true")#formElem.form
          input(type="text" name="username" placeholder="@Username" required maxlength=50)
          input(type="email" name="email" placeholder="Your e-mail" required maxlength=50)
          input(type="checkbox" name="is_business").form__toggle-checkbox.hidden
          .toggle
            .toggle__variant.toggle__business(data-value="business")
              | Business Enity
            .toggle__variant.toggle__individual.active(data-value="individual")
              | Individual
          input(type="text" name="business_name" placeholder="Business name" maxlength=100).form__business-name.hidden
          input(type="text" name="instagram_name" placeholder="@Instagram" maxlength=200)
          input(type="text" name="twitter_name" placeholder="@Twitter" maxlength=200)
          button(type="submit").form-button
            | Register
      .plug-footer
        .plug-footer__container
          .plug-footer__line
          .plug-footer__text
            | Follow us on social networks
          .plug-footer__socials
            a(href="https://www.instagram.com/wrisycle/" target="_blank").plug-footer__inst
              include ../../images/svg/instagram.svg
            a(href="#").plug-footer__social.plug-footer__twitter
              include ../../images/svg/twitter.svg
    