extends ../layout/layout.pug


block content

  - var page = 'liquidity'  

  main.main.liquidity
    .container
      include ../components/navigation.pug
      .content
        h1
          | Liquidity
        .text 
          |  Information to follow