extends ../layout/layout.pug


block content

  - var page = 'liquidity'  

  main.main.liquidity
    .container
      include ../components/navigation.pug
      .content
        h1
          | Liquidity 💦
        .text 
          div.paragraph
            p 
              b How are you improving liquidity within the watch industry?

            p We’re still explorer the best ways to increase liquidity with a range of Increase liquidity with the use of fractional ownership & tokenisation of Real World Assets (RWA).

            p Watch this space we will figure it out 🤔.
        include ../components/footer.pug