- var title = 'Wrisycle'
//- layout.pug
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="description" content="Wrisycle")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/svg+xml" href="../favicon/favicon.svg")
    block scripts
      script(src='../../js/index.js')
    block styles
      link(rel="stylesheet" href="../../styles/styles.scss")
  body
    block content